body {
    font-family: 'Dongle', sans-serif;
    color: rgb(99, 99, 99);
    line-height: 1;
    font-size: 24px;
}

a {
    transition: color .1s ease-in, border .2s ease-out;
    text-decoration: none;
    line-height: 0.65;
    display: inline-block;
    color: rgb(73, 191, 157);
}

img {
    max-width: 100%;
}

p {
    margin: 0 0 1em 0;
    color: #919191;
}

li {
    color: #919191;
}

sub, sup {
    font-size: 20px;
}

blockquote {
    border-left: 2px solid rgb(189, 189, 189);
    margin: 2em 0;
    padding: .8em 0 .8em .8em;
}

code {
    background-color: #e4e4e4;
    border-radius: .35em;
    border: 1px solid #b9b9b9;
    font-size: .6em;
    padding: 0.25em 0.65em;
    font-family: "courier New";
    color: #6e6e6e;
}

pre code {
    display: block;
    padding: 0.25em 2em;
}

ul, ol{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.ulAlternate {
    list-style-type: none;
}

.ulAlternate li {
    border-bottom: 1.5px solid #b9b9b9;;
}

.ulAlternate li:last-child {
    border: 0;
}

.ulIcons{
    list-style-type: none;
}

.ulIcons li {
    display: inline-block;
    font-size: 1.2em;
    color: rgb(73, 191, 157);
    margin-right: .3em;
}

label {
    font-size: 24px;
}

input, label, textarea, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    color: inherit
}

select option {
    font-size: 14px;
}

input {
    width: 99%;
}

textarea {
    width: 99.5%;
    height: 100px;
    resize: none;
}

input, textarea, select {
    background-color: #dadada;
    padding: 3px 10px 1px;
    border-radius: 8px;
    border: 2px solid transparent;
    margin-bottom: 15px;
    font-size: 24px;
    margin-left: 2px;
}

input[type="radio"], input[type="checkbox"]{
    width: auto;
    margin-right: 8px;
}
input:focus, textarea:focus {
    border: 2px solid rgb(73, 191, 157);
    outline: none;
}


h1, h2, h3, h4, h5, h6 {
    color: #787878;
    font-weight: normal;
    margin: 0.6em 0 0.5em 0;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 30px;

}
h5 {
    font-size: 24px;
}
h6 {
    font-size: 22px;
}

.mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    color: white;
    padding: 120px 54px;
    box-sizing: border-box;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

.mainHeader img {
    width: 4.2em;
    border-radius: 50%;
    overflow: hidden;
}

.mainHeaderTitle {
    font-size: 30px;
    font-weight: normal;
    color:rgba(255, 255, 255, .5)
}

.mainHeaderTitle strong {
    color: white;
    font-weight: normal;
}

.mainHeaderLink {
    color: inherit;
    font-weight: normal;
    border-bottom: 1px dotted;
    
}

.mainHeaderLink:hover {
    color:rgb(73, 191, 157);
    text-decoration: none;
    border-bottom: transparent;
}

.mainContent {
    width: 70%;
    margin-left: 30%;
    padding: 46px 54px;
    box-sizing: border-box;
}

.recentWorksCard img{
    border-radius: 10px;
    overflow: hidden;
}


.imageLink {
    border: 0;
}

.row {
    overflow:hidden;
}

.col:first-child {
    margin-right: 1%;
}

.col:last-child {
    margin-left: 1%;
}

.col {
    width: 49%;
    float: left;
}

.col-2-3 {
    width: 65%;
    float: left;
}

.col-1-3
{
    width: 33%;
    float: left;
    margin-left: 2%;
}

.col-1-3 address {
    padding-top: 20px;
}

.mainFooter {
    position: fixed;
    bottom: 0;
    width: 30%;
    left: 0;
    padding: 0 54px 60px 0;
    color: white;
    box-sizing: border-box;
    text-align: right;
    
}

.copyright {
    padding-right: 10px;
}

.mainFooter li {
    list-style-type: none;
}

.iconLink {
    margin-bottom: 20px;
    color:rgba(255, 255, 255, .5);
    font-size: 25px;
}

.galleryThumb img {
    margin-left: 0;
    width: 32%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.galleryThumb img:nth-child(3n-1) {
    margin: 0 2%;
}


.galleryImg img {
    width: 100%;
    margin-bottom: 1%;
    border-radius: 10px;
}

.buttonDefault {
    background-color: rgb(73, 191, 157);
    border: 2px solid rgb(69, 175, 145);
    color: white;
    padding: .6em 1.75em .4em;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 0.5em;
    display: inline-block;
    width: auto;
    cursor: pointer;

    transition: all .2s;
}

.buttonDefault:hover {
    background-color: rgb(78, 202, 167);
    border-color: transparent;
}

.buttonStroke {
    background-color: white;
    border-color: rgb(206, 206, 206);
    color: inherit;
}

.buttonStroke:hover {
    color: rgb(73, 191, 157);
    border-color: rgb(73, 191, 157);
    background-color: white;
}

.buttonSmall {
    font-size: 0.9em;
}

.buttonFull {
    display: block;
}

.table {
    width: 100%;
    margin: 0 0 2em 0;
    text-align: left;
    border-collapse: collapse;
}

.table thead tr {
    border-bottom: 2px solid rgb(221, 221, 221);
}

.table tbody tr:last-child{
    border-bottom: 2px solid rgb(221, 221, 221);
}

.table tbody tr {
    border-bottom: 1px solid rgb(211, 211, 211);
}

.table td, .table th {
    padding: .4em;
}

.table thead th {
    background: rgb(197, 224, 216);

}

.table  td {
    color: #919191;
}

.table tbody tr:nth-child(even) {
    background: rgb(222, 255, 245);
}

.tableAlternate tbody, .tableAlternate tbody td, .tableAlternate tbody tr:last-child, .tableAlternate thead tr{
    border: 1px solid rgb(211, 211, 211);;
}

.imgLeft {
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    width: 4em;
}

.imgRight {
    float: right;
    margin-left: 10px;
    border-radius: 10px;
    width: 4em;
}